
*.egg-info
*.mo
*.py[cod]
# dirs
bin/
tmp/
build/
lib/
.tox/
develop-eggs/
include/
local/
_build
__pycache__
.cache
.vagrant
# files
pip-selfcheck.json
.python-version
.Python
.coverage*
coverage.xml
Vagrantfile
.DS_Store

# excludes / This Files should go into version control
!.editorconfig
!.gitattributes
!.gitignore
!.gitkeep
!.travis.yml

/dist/
/.idea/
/.vscode/
/.pytest_cache/
/tmpdist
/man
/.tmppytes
/.tmppytest
*.bak
