!src/bobtemplates
*.egg-info
*.mo
*.pyc
.coverage
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
bin/
buildout-cache/
develop-eggs/
eggs/
htmlcov/
include/
lib/
local/
parts/
src/*
test.plone_addon/
var/
