
*.egg-info
*.mo
*.py[cod]
# dirs
bin/
tmp/
build/
lib/
.tox/
develop-eggs/
include/
local/
_build
__pycache__
.cache
.vagrant
# files
pip-selfcheck.json
.python-version
.Python
.coverage*
coverage.xml
Vagrantfile

# excludes / This Files should go into version control
!.editorconfig
!.gitattributes
!.gitignore
!.gitkeep
!.travis.yml

/dist/
/.pytest_cache/v/cache/lastfailed
/.vscode/settings.json
