language: python
python:
  - 2.7
sudo: false
cache:
  directories:
  - test.plone_addon/eggs

env:
  matrix:
    - PLONE_VERSION=4.0.10
    - PLONE_VERSION=4.1.6
    - PLONE_VERSION=4.2.7
    - PLONE_VERSION=4.3.4 PACKAGE_TYPE=Basic
    - PLONE_VERSION=4.3.4 PACKAGE_TYPE=Dexterity
    - PLONE_VERSION=5.0a3 PACKAGE_TYPE=Basic
    - PLONE_VERSION=5.0a3 PACKAGE_TYPE=Dexterity

matrix:
  allow_failures:
    - env: PLONE_VERSION=4.0.10
    - env: PLONE_VERSION=4.1.6
    - env: PLONE_VERSION=4.2.7

install:
  - sed -ie "s/^plone.version.*/plone.version = $PLONE_VERSION/g" test_answers.ini
  - sed -ie "s/^package.type.*/package.type = $PACKAGE_TYPE/g" test_answers.ini
  - if [ "$PACKAGE_TYPE" == "Dexterity" ]; then echo "dexterity_type_name = MyDextrityTestType" >> test_answers.ini; fi
  - python bootstrap-buildout.py --setuptools-version=8.3 -c travis.cfg
  - bin/buildout -c travis.cfg

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

script:
  - bin/code-analysis
  - bin/nosetests
  - bin/test

after_failure:
  - cat test_answers.ini

notifications:
  email:
    - travis-reports@plone.com
