language: python
python: 2.7
sudo: false
cache:
  pip: true
  directories:
    - $HOME/buildout-cache
    - $HOME/test.plone_addon/eggs
before_install:
  - mkdir -p $HOME/buildout-cache/{eggs,downloads}
  - virtualenv .
  - bin/pip install --upgrade pip setuptools zc.buildout
install:
  - bin/buildout -N -t 3 -c travis.cfg

env:
  matrix:
    - PLONE_VERSION=4.3.6 PACKAGE_TYPE=Basic
    - PLONE_VERSION=4.3.6 PACKAGE_TYPE=Dexterity
    - PLONE_VERSION=4.3.6 PACKAGE_TYPE=Theme
    - PLONE_VERSION=5.0b2 PACKAGE_TYPE=Basic
    - PLONE_VERSION=5.0b2 PACKAGE_TYPE=Dexterity
    - PLONE_VERSION=5.0b2 PACKAGE_TYPE=Theme

install:
  - pip install docutils
  - sed -ie "s/^plone.version.*/plone.version = $PLONE_VERSION/g" test_answers.ini
  - sed -ie "s/^package.type.*/package.type = $PACKAGE_TYPE/g" test_answers.ini
  - if [ "$PACKAGE_TYPE" == "Dexterity" ]; then echo "package.dexterity_type_name = MyDextrityTestType" >> test_answers.ini; fi
  - bin/buildout -c travis.cfg

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

script:
  - bin/check-readme
  - bin/code-analysis
  - bin/nosetests
  - bin/test

after_success:
  - pip install -q coveralls
  - coveralls

after_failure:
  - cat test_answers.ini

notifications:
  email:
    - travis-reports@plone.com
