# AppVeyor CI settings (Windows Machine CI Tests)

environment:
  matrix:
    - PYTHON: "C:\\Python27"
      TOXENV: "lint-py27,docs"
#    - PYTHON: "C:\\Python36"
#      TOXENV: "lint-py36,docs"
#    - PYTHON: "C:\\Python27"
#      TOXENV: "py27-packagetests"
#    - PYTHON: "C:\\Python34"
#      TOXENV: "py34-packagetests"
#    - PYTHON: "C:\\Python35"
#      TOXENV: "py35-packagetests"
#    - PYTHON: "C:\\Python36"
#      TOXENV: "py36-packagetests"
#    - PYTHON: "C:\\Python27"
#      TOXENV: "py27-skeletontests-Plone-4.3-template-addon"
#    - PYTHON: "C:\\Python27"
#      TOXENV: "py27-skeletontests-Plone-5.0-template-addon"
#    - PYTHON: "C:\\Python27"
#      TOXENV: "py27-skeletontests-Plone-5.1-template-addon"
#    - PYTHON: "C:\\Python27"
#      TOXENV: "py27-skeletontests-Plone-4.3-template-addon_content_type"
#    - PYTHON: "C:\\Python27"
#      TOXENV: "py27-skeletontests-Plone-5.0-template-addon_content_type"
#    - PYTHON: "C:\\Python27"
#      TOXENV: "py27-skeletontests-Plone-5.1-template-addon_content_type"
#    - PYTHON: "C:\\Python27"
#      TOXENV: "py27-skeletontests-Plone-4.3-template-addon_theme"
#    - PYTHON: "C:\\Python27"
#      TOXENV: "py27-skeletontests-Plone-5.0-template-addon_theme"
#    - PYTHON: "C:\\Python27"
#      TOXENV: "py27-skeletontests-Plone-5.1-template-addon_theme"
#    - PYTHON: "C:\\Python27"
#      TOXENV: "py27-skeletontests-Plone-4.3-template-theme_package"
#    - PYTHON: "C:\\Python27"
#      TOXENV: "py27-skeletontests-Plone-5.0-template-theme_package"
#    - PYTHON: "C:\\Python27"
#      TOXENV: "py27-skeletontests-Plone-5.1-template-theme_package"

cache:
  - '%LOCALAPPDATA%\pip\Cache'

version: '{branch}.{build}'

install:
  - "python.exe -m pip install tox"

build: off

test_script:
  - "tox.exe"

notifications:
  - provider: Email
    to:
      - travis-reports@plone.com
      - '{{commitAuthorEmail}}'
    on_build_status_changed: true
