[buildout]
parts =
    scripts
    test
    test-plone_addon
    test-plone_addon-nested
    alltests
    code-analysis
    releaser
    check-readme

develop = .
show-picked-versions = true


[scripts]
recipe = zc.recipe.egg
dependent-scripts = true
eggs =
    bobtemplates.plone [test]
    mr.bob


[test]
#  This section is only here to generate the nosetests script a second
#  time under a different name: 'test'.
<= scripts
scripts = nosetests=test


[test-plone_addon]
recipe = collective.recipe.template
addon_name = test.plone_addon
input = addon_test.template.sh
output = ${buildout:directory}/bin/test-plone_addon
mode = 755


[test-plone_addon-nested]
recipe = collective.recipe.template
addon_name = test.nested.plone_addon
input = addon_test.template.sh
output = ${buildout:directory}/bin/test-plone_addon-nested
mode = 755


[alltests]
recipe = collective.recipe.template
input = inline:
    #!/bin/sh
    bin/test
    bin/test-plone_addon
    bin/test-plone_addon-nested
output = ${buildout:directory}/bin/alltests
mode = 755


[code-analysis]
recipe = plone.recipe.codeanalysis
directory = ${buildout:directory}
flake8-exclude = bootstrap.py,bootstrap-buildout.py,docs,lib,bin,*.egg.,omelette
flake8-max-complexity = 15
flake8-extensions =
    flake8-blind-except
    flake8-debugger
    flake8-coding


[releaser]
recipe = zc.recipe.egg
eggs =
    zest.releaser
    readme


[check-readme]
recipe = collective.recipe.template
input = inline:
   #!/bin/sh
   python ${buildout:directory}/setup.py check -r -s
output = ${buildout:directory}/bin/check-readme
mode = 755


[versions]
setuptools =
zc.buildout =
flake8 = 3.0.4
flake8-coding = 1.3.0
zc.recipe.egg = 2.0.3
