include *.cfg *.rst *.in tox.ini
graft bobtemplates
graft docs
global-exclude *pyc
global-exclude tmp
global-exclude .tox
prune docs/_build
prune package_tests/*
prune skeleton-tests/*
exclude requirements.txt
exclude jsconfig.json
exclude constraints.txt
exclude appveyor.yml
prune */__pycache__


