.coverage
*.egg-info
*.log
*.mo
*.py?
*.swp
*.sublime-workspace
*.sublime-project
.mr.developer.cfg
.installed.cfg
lib64
Gruntfile.js
log.html
output.xml
package.json
pip-selfcheck.json
report.html

#dirs
bin/
buildout-cache/
develop-eggs/
eggs/
htmlcov/
include/
lib/
local/
node_modules/
parts/
src/*

# excludes
!.coveragerc
!.editorconfig
!.gitattributes
!.gitignore
!.gitkeep
!.travis.yml
