.coverage
.coverage.*
*.egg-info
*.log
*.mo
*.py?
*.swp
*.sublime-workspace
*.sublime-project
.mr.developer.cfg
.installed.cfg
.*project
coverage.xml
lib64
local.cfg
log.html
output.xml
pip-selfcheck.json
pyvenv.cfg
report.html

#dirs
/.settings/
bin/
buildout-cache/
develop-eggs/
eggs/
htmlcov/
include/
lib/
local/
parts/
src/*

# excludes
!.coveragerc
!.editorconfig
!.gitattributes
!.gitignore
!.gitkeep
!.travis.yml
