# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    build:
        strategy:
            fail-fast: false
            matrix:
                python-version:
                - "3.7"
                - "3.8"
                - "3.9"
                os:
                - ubuntu-latest
                - windows-latest
                - macos-latest
        runs-on: ${{ matrix.os }}

        steps:
            - uses: actions/checkout@v2

            - uses: actions/cache@v2
              with:
                  path: ~/.cache/pip
                  key: ${{ runner.os }}-tox-${{ hashFiles('**/tox.ini') }}-${{ hashFiles('**/requirements.txt') }}-${{ hashFiles('**/constraints.txt') }}-${{ hashFiles('**/setup.py') }}
                  restore-keys: |
                    ${{ runner.os }}-pip-

            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v2
              with:
                  python-version: ${{ matrix.python-version }}

            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install flake8 tox tox-gh-actions
                  pip install -r requirements.txt
                  pip install -e .

            - name: Black-Check
              run: |
                  tox -r -e black-check

            - name: Test with tox
              run: |
                  tox -r
